@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  25% {
    transform: rotate(90deg) scale(1.1);
    opacity: 0.8;
  }

  50% {
    transform: rotate(180deg) scale(1.2);
    opacity: 0.6;
    filter: hue-rotate(90deg);
  }

  75% {
    transform: rotate(270deg) scale(1.1);
    opacity: 0.8;
    filter: hue-rotate(180deg);
  }

  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
    filter: hue-rotate(360deg);
  }
}
