@use 'variables' as *;

@mixin button-hover {
  background: $accent-color;
  color: $accent-fg-color;

  image {
    filter: brightness(0);
  }
}
@mixin circle-button($size: 32px, $padding: 2px) {
  border-radius: 100%;
  min-width: $size;
  min-height: $size;
  padding: $padding;
}
